body {
	background-image: url("/images/HereBeDragons-PosterTextless2026.jpg");
	background-size: 100% auto;
}

div {
	text-align:center;
}

h1, h2, p {
	color: #D9C9A5;
}

.contentPane {
	width:50%;
}