body {
	background-image: url("/images/HereBeDragons-PosterTextless2026.jpg");
	background-size: 100% auto;
}

div.mainContent {
	text-align:center;
	padding-top:5em;
}

h1, h2, p {
	/**color: #D9C9A5;**/
	color:black;
}

p, a {
	font-family:sans-serif;
	font-weight:bold;
}

.contentPane {
	float:left;
}