body {
	background-image: url("/images/HereBeDragons-PosterTextless2026.jpg");
	background-size: 100% auto;
}

div.mainContent {
	text-align:center;
	margin-top:5rem;
	background-color:#f5f5f542;
}

.row {
	display:flex;
	padding:1rem;
}

.column {
	flex:50%;
}

h1, h2, p {
	/**color: #D9C9A5;**/
	color:black;
}

p, a {
	font-family:sans-serif;
	font-weight:bold;
}

.contentPane {
	/*display:inline-block;
	margin-left:4rem;
	margin-right:4rem;
	width:30%;*/
}

img.headshot {
	width:50%;
	height:auto;
	object-fit:contain;
}

.bio {
	text-align:left;
}